@font-face {
    font-family: maridPro;
    src: url(../fonts/Myriad\ Pro\ Regular.ttf);
}
$font-nav-header: 12.3px;
$icon-font: 10.15px;
$main-nav-font: 12.61px;
$head-section-3: 15.61px;
$body-section-3: 14.99px;
$header-words: 19.59px;
$header-button: 19.03px;
$body-steps-header: 11px;
$body-steps-body: 7.91px;
$nav-font: 'Open Sans', sans-serif;
$main-font: 'DroidArabicKufiRegular';
$button-font: maridPro;
$nav-color: #121a40;
$button-color: #06067a;
$footer-color:#0d1b6c;
$slider2-active-slide: #bd9f56;
$slider2-not-active-slide: #06067b;